<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDlj7ihQymPP0kY2sn-bROo1S0MxmG67mA</string>
	<key>GCM_SENDER_ID</key>
	<string>857987860304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doane.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>doane-c693d</string>
	<key>STORAGE_BUCKET</key>
	<string>doane-c693d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857987860304:ios:b03e43c5e5ddf9f2128e55</string>
</dict>
</plist>